<h2 class="js-sandwich" data-sandwich-id="<%=@sandwich.id%>"><%=@sandwich.name%></h2>

<p><strong>Bread Type</strong>: <%=@sandwich.bread_type%>
</p>
<p><strong>Total Calories</strong>: <%=@sandwich.total_calories%></p>
<p><strong>Ingredients</strong>:</p>
<ul>
	<% @sandwich.ingredients.each do |ingredient| %>
		<li><%= ingredient.name %></li>
	<% end %>
</ul>

<h4>Possible Ingredients</h4>
<ul>
	<%@ingredients.each do |ingredient| %>
		<li><button class="js-ingredient" data-ingredient-id="<%= ingredient.id%>"><%=ingredient.name%></button></li>
	<% end %>
</ul>

<%= link_to "Go back", "/sandwiches" %>