<!-- <h1>Editing Entries for <%= @project.name %></h1> -->

<%= form_for [@project, @time_entry] do |f| %>
	<%= f.label :hours %>
	<%= f.text_field :hours %>

	<%= f.label :minutes %>
	<%= f.text_field :minutes %>

	<%= f.label :date %>
	<%= f.text_field :date %>

	<%= f.submit %>

	<%end%>
