<!DOCTYPE html>
<html>
  <head>
    <title>Auctionsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

  	<%= render("other_stuff/header") %>

    </header>

    <%= yield %>

    <footer>
      <div style="position: absolute; bottom: 0;">

          <small><%= render("other_stuff/footer") %></small>
      
      </div>

    </footer>
	
  </body>
</html>
