<h1>Word Central</h1>

<h2>Results</h2>

	<h3>Text Inspected:</h3>
		<p><em><%=@text%></em><p>
	<h3>Word Count:<h3>
		<p><strong><%=@word_count%></strong></p>
	<h3>Time to Read Text:<h3>
		<p><strong><%=@time_to_read%> seconds</strong></p>
	<h3>Word Frequency</h3>
		<p><strong><%=@word_frequency%></strong></p>

<%= link_to 'Home', home_path %>