<body>
	
	<h2><%=@concert.artist%></h2>
	<p><%=@concert.venue%> - <%=@concert.city%></p>
	<p><%=@concert.date.strftime("%B %d, at %I:%M %p")%>  <strong><em>$<%=@concert.price%></strong></em></p>

</body>